body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    font-size: small;
}

h1 {
    color: red;
    font-size: 200%;
    text-align: center;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: purple;
    font-size: medium;
    border-color: black;
}

ul {
    list-style-type: none;
}